waves.cmd
waves.out
waves.tmc
waves.m
waves.log
address.h
HTWcol.cc
tm.dac
HTWcoloui.c
HTWcoloui.o
HTWcol.o
ptrhm.o
ptrhm_col.o
HTWcmd.cc
HTWcmd.dat
HTWsrvr.o
HTWsrvroui.c
HTWsrvroui.o
HTWalgoa.tmc
HTWalgo.cc
HTWalgooui.c
HTWalgooui.o
HTWalgo.o
hktbl.tmc
hkdisp.cc
hkdispoui.c
hkdispoui.o
hkdisp.o
hktblnc.tmc
hkdispnc.cc
hkdispncoui.c
hkdispncoui.o
hkdispnc.o
gastbl.tmc
gddisp.cc
gddispoui.c
gddispoui.o
gddisp.o
gastblnc.tmc
gddispnc.cc
gddispncoui.c
gddispncoui.o
gddispnc.o
datatbl.tmc
datadisp.cc
datadispoui.c
datadispoui.o
datadisp.o
datatblnc.tmc
datadispnc.cc
datadispncoui.c
datadispncoui.o
datadispnc.o
TStbl.tmc
TSdisp.cc
TSdispoui.c
TSdispoui.o
TSdisp.o
TStblnc.tmc
TSdispnc.cc
TSdispncoui.c
TSdispncoui.o
TSdispnc.o
doit.dep
HTWclt.o
HTWcltoui.c
HTWcltoui.o
HTWcltnc.o
HTWcltncoui.c
HTWcltncoui.o
HTWengext.cdf
HTWengextcdf.oui
HTWengextcdf.tmc
HTWengext.cc
HTWengextoui.c
HTWengextoui.o
HTWengext.o
hktbl.tmc.dep
hktblnc.tmc.dep
gastbl.tmc.dep
gastblnc.tmc.dep
datatbl.tmc.dep
datatblnc.tmc.dep
TStbl.tmc.dep
TStblnc.tmc.dep
*.err
Makefile
HTWcol
HTWsrvr
HTWalgo
hkdisp
hkdispnc
gddisp
gddispnc
datadisp
datadispnc
TSdisp
TSdispnc
doit
HTWclt
HTWcltnc
HTWengext
